* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}

body {
  background: #f6f0ed;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  padding: 150px 0 150px;
}

