.poke {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pokeStats {
  display: flex;
  align-items: center;
  gap: 2rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  background-color: #3498db;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

img {
  height: 200px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.pokemonStats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.pokemonStats p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.pokemonStats p span {
  font-weight: bold;
}

.pokemonStats p:first-child {
  grid-column: 1 / span 2;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 2rem;
}

.loader__spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
