.pokemon_card_image img{
 width: 100%;
 height: 100%;
}
.pokemon_card_image{
    height: 160px;
    width: 160px;
}
.pokemon_list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    column-gap: 25px;
    row-gap: 30px;
    margin-top: 30px;
}