.home-container {
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .load-more-container {
    margin-top: 20px;
  }
  
  .load-more-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .load-more-button:hover {
    background-color: #0056b3;
  }
  