.card {
  width: 190px;
  height: 280px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  margin: 20px;
}

.card2 {
  width: 200px;
  height: 280px;
  background-color: #353A3D;
  border-radius: 20px;
  padding: 10px;
  transition: all .5s;
  cursor: pointer;
}

.card2 span{
  color: #00ff75;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
  width: 300px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
  padding-top: 20px;
  padding-left: 20px;
}

.card2 h4{
  color: #00ff75;
  text-align: center;
}

.card2:hover .type {
  display: block;
}

.card2 img {
  width: 180px;
  height: 200px;
}

.card2 .type{
  display: none;
  transition: all .5s ease;
}

.card2 .type h5{
  text-align: center;
  background-color: #F2E4C9;
  border-radius: 20px;
  padding: 5px 10px;
}