.navbar{
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar input{
    padding: 5px 5px;
    outline: none;
    width: 260px;
    border-radius: 5px;
    border: none;
}