.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: coral;
}

.logo img {
  height: 40px;
}

.searchArea {
  display: flex;
  align-items: center;
}

.search {
  padding: 15px;
  width: 300px;
  border: none;
  border-radius: 25px 0 0 25px;
}

button {
  padding: 13.5px;
  background-color: #fff;
  color: coral;
  border: none;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}
