@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

nav{
    height: 8vh;
    color: white;
}

.banner{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
}