.App {
  text-align: center;
}


button {
  padding: 30px 63px;
  margin: 30px 100px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color:yellow;
}
.base_stats {
  padding:10px ;
  margin : 0;
  /* border-radius:50%; */
  text-emphasis-color: bold;
}
.viwers{
  color: #fff;
  max-width: 30%;
  margin: 40px auto;
  border: 2px solid #fff;
  border-radius: 50% ;
}
.base_statss {
  padding:20px ;
  margin : 10px;
  border-radius:5px;
  text-emphasis-color: bold;
  color: aliceblue;
  background-color: transparent;
}
