body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */

/* Add a class to the parent container of the lazy loading gif image */
#lazy-loading-container {
  position: relative; /* Set the parent container as a relative positioned element */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* Center the gif image horizontally */
  align-items: center; /* Center the gif image vertically */
}

/* Style for the lazy loading gif image */
.lazy {
  position: absolute; /* Position the gif image absolutely within the parent container */
  top: 50%; /* Move the gif image to the center vertically */
  left: 50%; /* Move the gif image to the center horizontally */
  transform: translate(-50%, -50%); /* Center the gif image precisely */
}
